<!-- This page display the whole with all its provided answers listed below -->

<%- include('../partials/header'); -%>

<div class="loader hidden">
  <img src="/Rolling.gif" alt="Loading..." />
</div>

<div class="container">
  <% if(question){ %>
    <div class="questionDisplay">
      <div class="card1">
        <div class="Row">
          <div class="Col">
            <h3><%= question.title %></h3>
            <p><%= question.query%></p>
          </div>
        </div>
        <div class="Row">
          <div class="Col">
            <a href="/questions/<%= question._id %>/answer/new" class="btn btn-lg">
              <i class="fas fa-plus"></i> Post Answer
            </a>
          </div>
        </div>
      </div>
    </div>
    
    <% if(question.answers.length===0){ %>
      <div class="card text-center">
        <h3><i class="fas fa-inbox"></i> No Answers Available</h3>
        <p>Be the first to answer this question!</p>
      </div>
    <%} else { 
      question.answers.sort((a,b)=> b.votes-a.votes); 
      question.answers.forEach(function(answer){ %>
        <div class="dd-box">
          <div class="Row">
            <div class="Col">
              <strong><%= answer.topic %></strong>
            </div>
            <div class="pull-right">
              <span class="votes">
                <i class="fas fa-thumbs-up"></i> Votes: <%= answer.votes %>
              </span>
              <a class="btn btn-sm" href="/answer/show/<%=answer._id %>">
                <i class="fas fa-eye"></i> View
              </a>
              <% if(user && answer.author.id.equals(user._id)){ %>
                <button type="button" class="btn btn-danger btn-sm" onclick="doDelete('<%= answer._id %>');">
                  <i class="fas fa-trash"></i>
                </button>
              <% } %>
            </div>
          </div>
        </div>
      <% })} %>
      
      <script>
        async function doDelete(answerID) {
          const loader = document.querySelector(".loader");
          loader.className = "loader";
          try {
            const res = await fetch("/answer/delete", {
              method: "POST",
              body: JSON.stringify({ answerID }),
              headers: { "Content-Type": "application/json" },
            });
            const data = await res.json();
            if (data.msg === "success") {
              location.assign("/questions/<%= question._id %>");
            }
          } catch (err) {
            console.log(err);
          }
        }
      </script>
  <%} else { %>
    <div class="card text-center">
      <h3><i class="fas fa-exclamation-triangle"></i> Question Not Found</h3>
      <p>This question does not exist or has been removed.</p>
      <a href="/smoothies" class="btn">
        <i class="fas fa-arrow-left"></i> Back to Questions
      </a>
    </div>
  <% } %>
</div>

<%- include('../partials/footer'); -%>